.App {
  text-align: center;
}

h1:before, h2:before, h3:before, h4:before, h5:before {
  opacity: .7;
  padding-right: 5px;
}

h1:before {
  content: "#";
}

.emphasized {
  font-weight: bold;
}

.subtle {
  opacity: 0.7;
}